
div [role]
{
	background-color:yellow;
}

div [role="article"]
{
	background-color:#fff;
}

/*select all the li elements that are second child of their parents*/

li:nth-child(2)
{
	background-color:red;
}