


body   /*This tag is used for background color */
{
    background-color:rgb(6,33,63); 
}

.page
{
    width: 1000px;
    height: auto;
}

.header
{
    width:1000px;
    height: 100px;
}

.header h1
{
    color: white;
    float:left;
}

.header h3
{
    color:rgb(133,153,147);
    float:left;
    position: absolute;
    top:50px;
}

.header .sublinks
{
    width: 450px;
    height: 90px;
    float: right;
    //border-style: groove;
    margin-top: 10px;
}

.header .sublinks a
{
    color: white;
    text-decoration:none;
    position: relative;
    top : 25px;
}

.header .sublinks h4
{
    color: white;
    float: left;
    position: relative;
    top: 8px;
    left: 15px;
}

.header .sublinks input
{
    position: relative;
    top:30px;
    left:-5px;
    border-radius: 10px;
}

.linkspart
{
    width: 1000px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.linkspart a
{
    color: rgb(6,33,63); 
    text-decoration: none;
    font-size: 120%;
    position: relative;
    top:5px;
}

.linkspart a:hover
{
    color:white;
    background-color: rgb(6,33,63); 
    border-radius: 10px;
}

.bodypart
{
    width: 1000px;
    height: 620px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

.bodypart .linkspart
{
    width: 290px;
    height: 590px;
    background-color: rgb(6,33,63); 
    border-radius: 10px;
    position: absolute;
    left:10px;
    top: 0px;
}

.bodypart .linkspart h2
{
    color: white;
}

.bodypart .linkspart .links
{
    width: 280px;
    height: 500px;
    background-color: white;
    border-radius: 10px;  
}

.bodypart .linkspart .links .linkbox
{
    width: 270px;
    height: 65px;
    font-size: 94%;
    border-bottom-style: dotted;
    //border-style: groove;
}

.bodypart .linkspart .links .linkbox img
{
    float: left;
    width: 70px;
    height: 70px;
}

.imagebox
{
    width: 1000px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.imagebox .image
{
    width: 980px;
    height: 280px;
    background-image: url('mbstu/Nature_MBSTU.jpg');
    border-style: double;
    border-width: 2px;
    margin-top:10px;
    position: relative;
    top:10px;
    border-radius: 10px;

}



.imagebox .image:hover
{
    top:50px;
    float:center;
    width: 730px;
    height:  200px;
    background-image:url('mbstu/cse_hd.jpg'); 
}



.bodypart .contentpart
{
    width: 390px;
    height: 590px;
    background-color: rgb(6,33,63); 
    border-radius: 10px;
    position: absolute;
    left:310px;
    top: 17px;
}

.bodypart .contentpart .content
{
    width: 380px;
    height: 563px;
    background-color: white;
    border-radius: 10px; 
    margin-top: 5px;
}

.bodypart .contentpart .content h2
{
    color: rgb(6,33,63);
    padding-top: 15px;
}

.bodypart .contentpart .content p
{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 80%;
}

.bodypart .contentpart .content img
{
    margin-top: -15px;
    height: 130px;
}


.bodypart .newspart
{
    width: 280px;
    height: 590px;
    background-color: rgb(6,33,63); 
    border-radius: 10px;
    position: absolute;
    left:710px;
    top: 15px;
}

.bodypart .newspart h2
{
    color: white;
}

.bodypart .newspart .news
{
    width: 270px;
    height: 500px;
    background-color: white;
    border-radius: 10px; 
    margin-top: 5px;
}

.bodypart .newspart .news h4
{
    color: blue;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.bodypart .newspart .news p
{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.awards
{
    width: 1000px;
    height: 190px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.awards img
{
    padding-top: 5px;
    width: 250px;
    height: 180px;
    border-radius: 10px;
}

.footer
{
    margin-top:30px;
    margin-bottom: 30px;
    color:white;
    font-size: 120%;
}