/*
Credit: http://www.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #707b84;
	background: #3e464d;
}
		
a:link, a:visited { color: #0066CC; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #008400; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.divider {
	background: url(images/divider.jpg) repeat-x bottom;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.button_01 a {
	display: block;
	width: 70px;
	height: 22px;
	padding: 5px 2px 0 30px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(images/button_01.png) no-repeat;
}

.button_01 a:hover {
	color: #ffffff;
	background: url(images/button_01_hover.png) no-repeat;
}

h2 {
	margin: 0 0 5px 0;
	padding: 10px 0;
	font-size: 24px;
	font-weight: normal;
	color: #106fb8;
}

h3 {
	margin: 0	;
	padding: 2px 0;
	font-size: 13px;
	font-weight: bold;
	color: #3e464d;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
}

/* header */

#header_wrapper {
	width: 100%;
	background: #fff;
}

#header {
	clear: both;
	width: 960px;
	height: 130px;
	margin: 0 auto;
	padding: 0 10px;
	/*background-image: url(images/header.jpg) no-repeat;*/
}

#header p {
	clear: both;
	padding-left: 50px;
	width: 500px;
	font-size: 18px;
	font-style: italic;
	line-height: 26px;
}

#header #site_title {
	float: left;
	padding-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;	
	width: 280px;
	height: 100px;
	text-align: center;	
	overflow: hidden;	
}

#site_title h1 {
	margin: 0px;
	padding: 15px 0 0 0;	
}

#site_title h1 a {
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 14px;
	color: #999;
	font-weight: normal;
	letter-spacing: 2px;
}

/* end of header */

/* menu */

#menu_wrapper {
	width: 100%;
	height: 90px;
	margin: 0 auto;
	/*background: url(images/menu.jpg) repeat-x;*/
	background: -webkit-linear-gradient(lightgrey, gray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightgrey, gray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightgrey, gray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightgrey, gray); /* Standard syntax */
}

#menu {
	width: 920px;
	height: 90px;
	margin: 0 auto;
	padding: 0 30px;
	
}

#menu ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#menu ul li a {
	position: relative;
	float: left;
	width: 152px;
	display: block;
	height: 40px;
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #333333;	
	font-weight: bold;
	outline: none;
}

#menu li a:hover, #menu li .current {
	color: #008400;
	background: url(images/menu_hover.jpg) bottom no-repeat;
}

/* end of menu */

/* content */

#content_wrapper {
	width: 920px;
	padding: 30px;
	margin: 0 auto;
}

#sidebar {
	float: left;
	width: 270px;
}

.sidebar_box {
	padding: 20px 30px;
	background: #fff;
}

.sidebar_box_bottom {
	width: 270px;
	height: 15px;
	margin-bottom: 30px;
	background: url(images/sidebar_section_bottom.jpg)
}

.news_box {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #8a9ba8;	
	color: #ffffff;
}

.news_box .post_info {
	font-size: 11px;
	color: #666666;
}

.news_box .post_info a {
	color: #157ad2;
	font-weight: normal;
}

.news_box a{
	color: #000000;
	font-weight: normal;
}

.news_box span {
	color: #157ad2;
}

.sidebar_box label {
	display: block;
	margin-bottom: 10px;
}

.sidebar_box #input_field {
	height: 20px;
	width: 200px;
	padding: 0 5px;
	margin-bottom: 10px;
	color: #000000;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}

.sidebar_box #submit_btn {
	float: right;
 	height: 30px;
	width: 80px;
	margin: 0px;
	padding: 3px 0 15px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	outline: none;
}

#content {
	float:right;
	width: 590px;
}

.content_box {
	clear: both;
	width: 530px;
	padding: 20px 30px;
	background: #fff;
}

.img-box{
	height: 120px;
	width: 160px;
	border:5px solid;
	border-radius:5px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.img-box img{
	width: 100%;
	height: 100%;
}

.content_box_bottom {
	width: 590px;
	height: 36px;
	margin-bottom: 20px;
	background: url(images/content_bottom.jpg) no-repeat;
}

.content_box .image_fl {
	float: left;
	margin: 3px 15px 0 0;
}

.content_box .section_w250 {
	width: 250px;
}

.list_01 {
	margin: 0 0 0 20px;
	padding: 0;
	list-style: decimal-leading-zero;
}

.list_01 li {
	color: #008400;
	margin-bottom: 7px;
}

/* end of content */

/* footer */

#footer_wrapper {
	width: 100%;
	margin: 0 auto;
	background: #fff url(images/footer_top.jpg) top repeat-x;	
}

#footer {
	width: 920px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	color: #7c7471;
}

#footer a {
	color: #333333;
}

#footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #333333;
}

.footer_menu .last_menu {
	border: none;
}

/* end of footer */

/*registration form*/
fieldset{
	margin: 0px auto;
	width: 45%;
}

legend{
	border: 1px solid #ccc;
	background-color: gray;
	color: white;
}
.row{
	width: 100%;
	background-color: #D1D1D1;
}
.row label{
	float: left;
	width: 35%;
	font-weight: bold;
}

/*ends*/