/*Universal Selector
 
 -Avoid using this selector. performance issue

*/

*{

	background-color: #CCCCCC;
}

/* I need to select all the div elements that have 'role' attribute to color change */

div [role]{

	color: #A9FAEE;
}

/* I need to select all the div elements that have 'role' attribute has a value 'article' and to make font color in black */

div [role='article']

{

	color: black;
}

/* select all the li elements that are second child of their parents and their background color grey */

li:nth-child(2){

background-color: grey;

}

/* exercise */

/* odd child background color cyan */

/*a:nth-child(2n+1){

	background-color: cyan;
} */

/* even child background color cyan */

/*a:nth-child(2n){

	background-color: pink;
}*/

/* select all the a that are child of footer */

footer a{

	background-color: indigo;
}