/* Universal Selector
	- Avoid using this selector. Performance issue
*/

*{
	background-color: #FFF;
}

/* I need all the elements that have 'role' attributes 
	and apply a rule to make the font color. */ 
div[role]{
	color: #999;
}
/* Select all the div elements that have 'role' 
that has a value 'main'
and apply a rule to make the background color #ddd . */

div[role="main"]{
	background-color: #ddd;
}

/*
Select all the li elements 
that are second child of their parents
*/

li:nth-child(2){
	background-color: red;
}

/* exercise */

a:nth-child(2n+1){
	background-color: green;
}