/* * is an Universal Selector
	- avoid using this selector due to performance issue
*/

*{
	background-color: white;
}

div[role]{
	color: green;
}

/* select all the div elements that have 'role' that has a value 'main' & apply rule to make font-color #000*/
div[role="main"]{
	background-color: black;
}

/*select all the li elements that are second child of their parents*/
li:nth-child(2){
	background-color: red;
}

/* exercise */
li:nth-child(2n+1){
	background-color: green;
}

/* Change backgroun-color of all the <a> that are child of footer */
footer a{
	background-color: cyan;
}